body {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

header {
    display: flex;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
color: white;
font-size: 40px;
text-transform: uppercase;
justify-content: center;
align-items: center;
gap: 28px;
}